<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Articles</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles | async">
          <td>{{article.ID}}</td>
          <td>{{article.Title}}</td>
          <td>{{article.Description}}</td>
          <td><button (click)="updateArticle(article.ID)" class="btn btn-info" style="margin-left: 10px">Edit</button>
              <button (click)="deleteArticle(article.ID)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
              <button (click)="articleDetails(article.ID)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>