<h3>Update Article</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">ID</label>
      <input disabled type="text" class="form-control" id="id" required [(ngModel)]="article.ID" name="id">
    </div>

    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="article.Title" name="title">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="article.Description" name="description">
    </div>

    <div class="form-group">
      <label for="name">Content</label>
      <input type="text" class="form-control" id="content" required [(ngModel)]="article.Content" name="content">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>